*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.App {
  background-color: #eaeff1;
  min-height: 100vh;
  display: flex;
}
.left{
  z-index: 2;
}
main{
  width: 100%;
}
