.HeaderTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
    color: white;
    h1{
        font-size: 25px;
        padding-bottom: 6px;
    }
    .btnGroup{
        display: flex;
        align-items: center;
        *{
            margin: 0 7px;
        }
        img{
            width: 24px;
            height: 24px;
            filter: invert(100%);
        }
        button{
            background-color: transparent;
            border: 1px solid white;
            border-radius: 10px;
            padding: 7px;
            color: white;
            &:hover{
                background-color: #398af3;
            }
        }
    }
}